<head>
  <title>VueJS Example App</title>
</head>

<div id="myVueApp">
  This is a demonstration of an event-driven application using Vue.js
  (<a href=http://codepen.io/dwhitnee/pen/mAXEoJ>codepen</a>)

  <div>{{ message }}</div>

  <p></p>

  <li v-for="state in states">{{state}} </li>

  <input v-model.trim="newState"
         v-on:keyup.enter="addState"
         placeholder="state" size="5"></input>
  <button v-on:click="addState">Add State</button>

  <div style="padding-top: 4em;">
    <button v-on:click="loadBusRoutes">Show buses</button>
    <li v-for="bus in buses">{{ bus }} </li>
  </div>

  <br>

  <input v-model.trim="busComment"
         v-on:keyup.enter="saveComment"
         placeholder="what's happening on the bus?" size="40"></input>
  <button v-on:click="saveComment">Submit</button>


  <li v-for="event in busEvents">
    "{{ event.comment }}" - ({{ event.userName}}, {{ event.day }} )  </li>

  <code>{{ debug }}</code>


    <hr>
    <button v-on:click="loadTimeRemaining">Get Time Left</button>
    <div>Drive time until {{ destination }}: {{ timeLeft }} </div>

</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js"></script>
<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSzD9haJ-HWTjwRef7MuNL_lUtXJiYfic&libraries=places&callback=initMaps"></script>
<script src="js/app.js"></script>

</script>
